<div>
  <div class="content-containet">
    <div class="row justify-content-end" style="margin-right: -7px;">
      <div class="col-1">
        <mat-icon id="close-icon" (click)="closeDailog()">close</mat-icon>
      </div>
    </div>
  </div>
  <div class="mb-4">
    <span>{{ data.message }}</span>
  </div>
  <div align="center">
    <button mat-raised-button color="warn" class="btn btn-md mr-3" [mat-dialog-close]="false">ยกเลิก</button>
    <button mat-raised-button [mat-dialog-close]="true">ยืนยัน</button>
  </div>
</div>
