/* You can add global styles to this file, and also import other style files */
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';
// @import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';

@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

// Define the default theme (same as the example above).
$accounting-primary: mat-palette($mat-light-blue);
$accounting-accent:  mat-palette($mat-red, A200, A100, A400);
$accounting-theme:   mat-light-theme($accounting-primary, $accounting-accent);

// Include the default theme styles.
@include angular-material-theme($accounting-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button:focus {
    outline: none;
}

button.btn-header {
    padding-top: 5px;
}

button.btn-header > span > mat-icon {
    margin-top: -10px;
}

.full-width {
    width: 100%
}
