<h1 mat-dialog-title class="text-primary">เพิ่มรุ่น</h1>
<mat-dialog-content [formGroup]="generationForm">
  <mat-form-field class="full-width">
    <input matInput placeholder="ชื่อรุ่น" formControlName="name" required/>
    <mat-error>กรุณากรอก "ชื่อรุ่น"</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width" color="primary">
    <input
      matInput
      [matDatepicker]="dataIn"
      placeholder="วันที่เข้า (วว/ดด/ปปปป)"
      formControlName="dateIn"
      required
    />
    <mat-datepicker-toggle matSuffix [for]="dataIn"></mat-datepicker-toggle>
    <mat-datepicker #dataIn color="primary"></mat-datepicker>
    <mat-error>กรุณากรอก "วันที่เข้า"</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width" color="primary">
    <input
      matInput
      [matDatepicker]="dataOut"
      [min]="minDate()"
      placeholder="วันที่ปิด (วว/ดด/ปปปป)"
      formControlName="dateOut"
    />
    <mat-datepicker-toggle matSuffix [for]="dataOut"></mat-datepicker-toggle>
    <mat-datepicker #dataOut color="primary"></mat-datepicker>
  </mat-form-field>
</mat-dialog-content>
<div mat-dialog-actions align="end">
  <button mat-raised-button (click)="onNoClick()">ยกเลิก</button>
  <button
    mat-raised-button
    [mat-dialog-close]="generationForm.value"
    color="primary"
    [disabled]="generationForm.invalid"
  >
    บันทึก
  </button>
</div>
