<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <form [formGroup]="registerForm" (ngSubmit)="register()">
        <div class="form-group mt-5">
          <table class="regis-full-width" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="regis-full-width">
                  <input matInput placeholder="First Name" formControlName="firstname" />
                  <mat-error>First Name is <strong>required</strong> </mat-error>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="regis-full-width">
                  <input matInput placeholder="Last Name" formControlName="lastname" />
                  <mat-error>Last Name is <strong>required</strong> </mat-error>
                </mat-form-field>
              </td>
            </tr>
          </table>

          <mat-form-field class="regis-full-width">
            <input matInput placeholder="Username" formControlName="username" />
            <mat-error>Username is <strong>required</strong> </mat-error>
          </mat-form-field>
          <mat-form-field class="regis-full-width">
            <input
              matInput
              placeholder="Password"
              type="password"
              formControlName="password"
            />
            <mat-error *ngIf="registerForm.get('password').hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
            <mat-error
              *ngIf="
                registerForm.get('password').hasError('minlength') &&
                registerForm.get('password').touched
              "
              >Password must be at least <strong>4</strong> characters
            </mat-error>
            <mat-error
              *ngIf="
                registerForm.get('password').hasError('maxlength') &&
                registerForm.get('password').touched
              "
              >Password must be at least <strong>8</strong> characters
            </mat-error>
          </mat-form-field>
          <mat-form-field class="regis-full-width">
            <input
              matInput
              placeholder="Confirm Password"
              type="password"
              minlength="1"
              formControlName="confirmPassword"
              [errorStateMatcher]="matcher"
            />
            <mat-error
              *ngIf="
                registerForm.hasError('mismatch') &&
                registerForm.get('confirmPassword').touched
              "
              >Password must match
            </mat-error>
          </mat-form-field>
          <mat-radio-group class="regis-full-width" formControlName="gender">
            <mat-radio-button value="male" class="mr-3">Male</mat-radio-button>
            <mat-radio-button value="female">Female</mat-radio-button>
            <mat-error
              *ngIf="
                registerForm.get('gender').hasError('required') &&
                registerForm.get('gender').touched
              "
            >
              <mat-error>Gender is <strong>required</strong> </mat-error>
            </mat-error>
          </mat-radio-group>
          <mat-form-field class="regis-full-width">
            <input
              matInput
              [matDatepicker]="picker"
              placeholder="Choose a date (Ex: d/mm/yyyy)"
              formControlName="dateofbirth"
            />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error>Birth day is <strong>required</strong> </mat-error>
          </mat-form-field>

          <div class="text-center mt-3">
            <button
              mat-raised-button
              color="primary"
              class="mr-3"
              type="submit"
              [disabled]="registerForm.invalid"
            >
              Register
            </button>
            <button mat-raised-button (click)="cancelButton()">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
