<h2 class="text-primary">ผู้จับ</h2>
<mat-divider></mat-divider>

<div class="row justify-content-center">
  <div class="col-lg-5 col-md-8" [formGroup]="catcherForm">
    <table class="full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="col-12">
            <input matInput placeholder="ชื่อเล่น" formControlName="nickname" />
            <mat-error
              *ngIf="
                catcherForm.get('nickname').validator &&
                catcherForm.get('nickname').touched
              "
            >
              กรุณากรอกชื่อเล่น
            </mat-error>
          </mat-form-field>
        </td>
        <td style="text-align: center;width: 160px;" rowspan="3">
          <button
            mat-raised-button
            color="primary"
            (click)="onSave(catcherForm.value)"
            [disabled]="catcherForm.invalid"
          >
            Save
          </button>
          <button mat-raised-button (click)="onCancle()">Cancle</button>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="col-lg-6 col-md-6 col-sm-12">
            <input matInput placeholder="ชื่อ"  formControlName="firstname"/>
          </mat-form-field>

          <mat-form-field class="col-lg-6 col-md-6 col-sm-12">
            <input matInput placeholder="สกุล" formControlName="lastname"/>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="col-lg-6 col-md-6 col-sm-12">
            <input matInput placeholder="เลขทะเบียน" formControlName="licensePlate"/>
          </mat-form-field>

          <mat-form-field class="col-lg-6 col-md-6 col-sm-12">
            <input matInput placeholder="จังหวัด" aria-label="Number" [matAutocomplete]="auto" formControlName="licenseCountry"/>
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option.PROVINCE_NAME">
                  {{option.PROVINCE_NAME}}
                </mat-option>
              </mat-autocomplete>
          </mat-form-field>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="row justify-content-center mt-3">
  <div class="col-lg-5 col-md-8">
    <div class="af-container mat-elevation-z8">
      <div class="af-loading-shade" *ngIf="!resultsLength">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        <div class="af-rate-limit-reached" *ngIf="resultsLength === 0">
          ยังไม่มีรายการ
        </div>
      </div>

      <div class="af-table-container">
        <table
          mat-table
          [dataSource]="data"
          matSort
          matSortActive="created"
          matSortDisableClear
          matSortDirection="desc"
        >
          <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td
              mat-cell
              *matCellDef="let element; index as i"
              (click)="onSelected(element)"
            >
              {{ i + 1 }}
            </td>
          </ng-container>

          <ng-container matColumnDef="nickname">
            <th mat-header-cell *matHeaderCellDef>ชื่อเล่น</th>
            <td mat-cell *matCellDef="let element" (click)="onSelected(element)">
              {{ element.nickname }}
            </td>
          </ng-container>

          <ng-container matColumnDef="fullname">
            <th mat-header-cell *matHeaderCellDef>ชื่อ - สกุล</th>
            <td mat-cell *matCellDef="let element" (click)="onSelected(element)">
              {{ element.firstname }} {{ element.lastname }}
            </td>
          </ng-container>

          <ng-container matColumnDef="licensePlate">
            <th mat-header-cell *matHeaderCellDef>ป้ายทะเบียนรถ</th>
            <td mat-cell *matCellDef="let element" (click)="onSelected(element)">
              {{ element.licensePlate }} {{ element.licenseCountry }}
            </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <div class="action">
                <button
                  mat-mini-fab
                  color="warn"
                  matTooltip="ลบ"
                  (click)="onDelete(element)"
                >
                  <mat-icon aria-label="ลบ"> delete</mat-icon>
                </button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index"></tr>
        </table>
      </div>
      <div *ngIf="resultsLength === 0" style="min-height: 47px;"></div>

      <mat-paginator
        [length]="resultsLength"
        [pageSizeOptions]="[10, 20, 30]"
      ></mat-paginator>
    </div>
  </div>
</div>
