.mat-card-content button.btn-header {
  width: 35px;
  height: 35px;
  position: absolute;
  margin-top: -5px;
  margin-left: 10px;
}

.mat-elevation-z8,
table {
  width: 100%;
}

/* Structure */
.af-container {
  position: relative;
  min-height: 160px;
  flex: 1;
}

.af-table-container {
  position: relative;
  max-height: 590px;
  overflow: auto;
}

.af-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.af-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

.mat-row:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.05);
}

.action {
  display: none;
}
.mat-row:hover .action {
  display: block;
}

.mat-column-billNo {
  width: 135px;
}

.mat-column-action {
  width: 70px;
}

tr.mat-footer-row {
  font-weight: bold;
}

.mat-cell:focus {
  outline: none;
}