<mat-card class="card">
  <mat-card-content>
    <h4 class="text-primary">
      บิลจับไก่
      <button
        mat-mini-fab
        color="primary"
        class="btn-header"
        matTooltip="เพิ่มบิลใหม่"
        [routerLink]="['./bill']"
      >
        <mat-icon aria-label="เพิ่ม" style="margin-top: -15px;">add_circle</mat-icon>
      </button>
    </h4>
    <mat-divider></mat-divider>

    <div class="af-container mat-elevation-z8 mt-3">
      <div class="af-loading-shade" *ngIf="isLoadingResults || !resultsLength">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        <div class="af-rate-limit-reached" *ngIf="resultsLength === 0">
          ยังไม่มีรายการ
        </div>
      </div>

      <div class="af-table-container">
        <table
          mat-table
          [dataSource]="data"
          matSort
          matSortActive="created"
          matSortDisableClear
          matSortDirection="desc"
        >
          <ng-container matColumnDef="billNo">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td
              mat-cell
              *matCellDef="let element;let i = index"
              [routerLink]="['./bill', element.billDetailId]"
            >
            {{ element.prefix }}
          </td>
          </ng-container>

          <ng-container matColumnDef="chicken">
            <th mat-header-cell *matHeaderCellDef>นน.ไก่</th>
            <td
              mat-cell
              *matCellDef="let element"
              [routerLink]="['./bill', element.billDetailId]"
            >
              {{ element.weightChicken | currency: 'THB':'':'1.0-2' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="basket">
            <th mat-header-cell *matHeaderCellDef>นน.เข่ง</th>
            <td
              mat-cell
              *matCellDef="let element"
              [routerLink]="['./bill', element.billDetailId]"
            >
              {{ element.weightBasket | currency: 'THB':'':'1.0-2' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef>รวม</th>
            <td
              mat-cell
              *matCellDef="let element"
              [routerLink]="['./bill', element.billDetailId]"
            >
              {{ element.weightTotal | currency: 'THB':'':'1.0-2' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="average">
            <th mat-header-cell *matHeaderCellDef>เฉลี่ย/ตัว</th>
            <td
              mat-cell
              *matCellDef="let element"
              [routerLink]="['./bill', element.billDetailId]"
            >
              {{ element.average | currency: 'THB':'':'1.0-2' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef>จับ/ตัว</th>
            <td
              mat-cell
              *matCellDef="let element"
              [routerLink]="['./bill', element.billDetailId]"
            >
              {{ element.amount | currency: 'THB':'':'1.0-0' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <div class="action">
                <button
                  mat-mini-fab
                  color="warn"
                  matTooltip="ลบ"
                  (click)="onDelete(element)"
                >
                  <mat-icon aria-label="Example icon-button with a heart icon">
                    delete
                  </mat-icon>
                </button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <div *ngIf="resultsLength === 0" style="min-height: 47px;"></div>

        <mat-paginator
          [length]="resultsLength"
          [pageSizeOptions]="[10, 20, 30]"
        ></mat-paginator>
      </div>
    </div>
  </mat-card-content>
</mat-card>
