<div class="page-header">
  <h2 class="text-primary">
      <span>รายละเอียดรุ่น</span>
  </h2>
  <span class="spacer"></span>
  <div [ngStyle]="{'margin-right': '20px'}" *ngIf="!report?.dateOut" >
    <button mat-raised-button color="warn" matTooltip="ปิดรุ่น" (click)=onClickCloseGeneration()>ปิดรุ่น</button>
  </div>
</div>
<mat-divider></mat-divider>
<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-lg-6">
      <div style="display: block">
        <canvas
          baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [chartType]="barChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"
        ></canvas>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row">
        <div class="col-3">
          
        </div>
        <div class="col-3">
          ราคาไก่
        </div>
        <div class="col-3 number">
            {{ report?.priceInsurance | currency: 'THB': '': '1.2-2' }}
        </div>
        <div class="col-3">
          บาท/กก.
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          
        </div>
        <div class="col-3">
          นน.รวม
        </div>
        <div class="col-3 number">
            {{ report?.weightTotal | currency: 'THB': '': '1.2-2' }}
        </div>
        <div class="col-3">
          กก.
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          
        </div>
        <div class="col-3">
          ไก่ที่จับ
        </div>
        <div class="col-3 number">
            {{ report?.catchAmount | currency: 'THB': '': '1.0-2' }}
        </div>
        <div class="col-3">
          ตัว
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          
        </div>
        <div class="col-3">
          ไก่เหลือ/หาย
        </div>
        <div class="col-3 number">
            {{ report?.chickenLeft | currency: 'THB': '': '1.0-2' }}
        </div>
        <div class="col-3">
          ตัว
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          
        </div>
        <div class="col-3">
          นน.ไก่เฉลี่ย
        </div>
        <div class="col-3 number">
            {{ report?.average | currency: 'THB': '': '1.2-2' }}
        </div>
        <div class="col-3">
          กก.
        </div>
      </div>
      <div class="row">
        <div class="col-3 text-right">
          <h4 class="text-primary">ต้นทุน</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-3">

        </div>
        <div class="col-3">
          ค่าลูกไก่
        </div>
        <div class="col-3 number">
            {{ report?.priceChicken | currency: 'THB': '': '1.2-2' }}
        </div>
        <div class="col-3">
          บาท
        </div>
      </div>
      <div class="row">
        <div class="col-3">

        </div>
        <div class="col-3">
          ค่าอาหาร
        </div>
        <div class="col-3 number">
            {{ report?.priceFood | currency: 'THB': '': '1.2-2' }}
        </div>
        <div class="col-3">
          บาท
        </div>
      </div>
      <div class="row">
        <div class="col-3">

        </div>
        <div class="col-3">
          ค่ายา
        </div>
        <div class="col-3 number">
            {{ report?.priceMedicine | currency: 'THB': '': '1.2-2' }}
        </div>
        <div class="col-3">
          บาท
        </div>
      </div>
      <div class="row">
        <div class="col-3">
        </div>
        <div class="col-3 text-right total-cost">
          รวมต้นทุน
        </div>
        <div class="col-3 number">
            {{ report?.totalCost | currency: 'THB': '': '1.2-2' }}
        </div>
        <div class="col-3">
          บาท
        </div>
      </div>
      <div class="row">
        <div class="col-3">

        </div>
        <div class="col-3 text-right total-sold">
          ขายไก่เป็นเงิน
        </div>
        <div class="col-3 number">
            {{ report?.totalSold | currency: 'THB': '': '1.2-2' }}
        </div>
        <div class="col-3">
          บาท
        </div>
      </div>
      <div class="row">
        <div class="col-3">

        </div>
        <div class="col-3 text-right total-profit">
          กำไรสุทธิ
        </div>
        <div class="col-3 number">
          {{ report?.profit | currency: 'THB': '': '1.2-2' }}
        </div>
        <div class="col-3">
          บาท
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-lg-5">
      <af-cost></af-cost>
    </div>
    <div class="col-lg-7">
      <af-bill-total [GenerationId]=""></af-bill-total>
    </div>
  </div>
</div>
