.page-header {
    display: flex;
    flex-direction: row;
}

.spacer {
    flex: 1 1 auto;
}

.total-cost {
    font-weight: 600;
    background: antiquewhite;
}

.total-sold {
    font-weight: 600;
    background: navajowhite;
}

.total-profit {
    font-weight: 600;
    background: darkseagreen;
}

.number {
    text-align: right;
}