<h2 class="text-primary">รายละเอียดบิล</h2>
<mat-divider class="mb-3"></mat-divider>
<div class="row justify-content-center">
  <mat-card class="col-md-8">
    <div class="row">
      <div class="col-md-10">
        <form [formGroup]="billForm" (ngSubmit)="onSaveClick()">
          <div class="row justify-content-between">
            <mat-form-field class="col-md-4 full-width">
              <mat-label>วันที่จับ</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                placeholder="DD/MM/YYYY"
                formControlName="catchDate"
              />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <div class="col-3">
              เลขที่บิล
              <mat-label class="prefix">{{billPrefix}}</mat-label>
            </div>
          </div>
          <div class="row">
            <mat-form-field class="col-md-4 full-width">
              <mat-label>ชื่อผู้จับ</mat-label>
              <mat-select
                placeholder="ชื่อผู้จับ"
                formControlName="catcherId"
                name="catcherId"
              >
                <mat-option *ngFor="let option of (catcher$ | async)" [value]="option.id">
                  {{ option.nickname }}
                  <mat-label class="select-option" *ngIf="option.licensePlate"
                    >ทะเบียน {{ option.licensePlate }}</mat-label
                  >
                </mat-option>
              </mat-select>
              <mat-error>กรุณาเลือกผู้จับ</mat-error>
            </mat-form-field>

            <mat-form-field class="col-md-3 full-width">
              <input
                type="number"
                matInput
                placeholder="จำนวนที่จับ"
                formControlName="catchAmount"
              />
              <mat-error>กรุณาใส่จำนวนที่จับ</mat-error>
            </mat-form-field>
          </div>
        </form>
      </div>
      <div class="col-md-2">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          class="mr-3"
          (click)="onSaveClick()"
          [disabled]="billForm.invalid"
        >
          บันทึก
        </button>
        <button mat-raised-button color="warn" type="reset" (click)="onCancleClick()">
          ยกเลิก
        </button>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="row mt-3">
      <div class="col-7">
        <mat-form-field class="col-md-8 full-width">
          <mat-label>นน.ไก่</mat-label>
          <input
            type="number"
            matInput
            placeholder="57.20"
            [(ngModel)]="weightChicken"
            [disabled]="weightBasket"
            (keyup.enter)="onWeightChickenAdd(weightChicken)"
          />
        </mat-form-field>
        <button
          mat-raised-button
          (click)="onWeightChickenAdd(weightChicken)"
          [disabled]="!weightChicken || (weightBasket && indexSelected)"
        >
          เพิ่ม
        </button>
      </div>

      <div class="col-5">
        <mat-form-field class="col-md-8 full-width">
          <mat-label>นน.เข่ง</mat-label>
          <input
            type="number"
            matInput
            placeholder="25.00"
            [(ngModel)]="weightBasket"
            [disabled]="weightChicken"
            (keyup.enter)="onWeightBasketAdd(weightBasket)"
          />
        </mat-form-field>
        <button
          mat-raised-button
          (click)="onWeightBasketAdd(weightBasket)"
          [disabled]="!weightBasket || (weightChicken && indexSelected)"
        >
          เพิ่ม
        </button>
      </div>
    </div>
    <div class="row">
      <table mat-table [dataSource]="data" class="mat-elevation-z8">
        <ng-container matColumnDef="item1">
          <th mat-header-cell *matHeaderCellDef colspan="7">น้ำหนักไก่</th>
        </ng-container>
        <ng-container matColumnDef="item2">
          <th mat-header-cell *matHeaderCellDef colspan="4">น้ำหนักเข่ง</th>
        </ng-container>

        <ng-container matColumnDef="1">
          <td
            mat-cell
            *matCellDef="let element; let i = index"
            (click)="onEditChickenClick(i)"
          >
            <div [ngClass]="element.zero ? 'gt' : ''">
              {{ element.zero | currency: 'THB':'':'1.0-2' }}
            </div>
            <div *ngIf="element.zero" class="action">
              <mat-icon
                aria-label="ลบ"
                color="warn"
                matTooltip="ลบ"
                (click)="onDeleteChicken(i)"
              >
                delete
              </mat-icon>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="2">
          <td
            mat-cell
            *matCellDef="let element; let i = index"
            (click)="onEditChickenClick(i + maxRow)"
          >
            <div [ngClass]="element.one ? 'gt' : ''">
              {{ element.one | currency: 'THB':'':'1.0-2' }}
            </div>
            <div *ngIf="element.one" class="action">
              <mat-icon
                aria-label="ลบ"
                color="warn"
                matTooltip="ลบ"
                (click)="onDeleteChicken(i + maxRow)"
              >
                delete
              </mat-icon>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="3">
          <td
            mat-cell
            *matCellDef="let element; let i = index"
            (click)="onEditChickenClick(i + maxRow * 2)"
          >
            <div [ngClass]="element.two ? 'gt' : ''">
              {{ element.two | currency: 'THB':'':'1.0-2' }}
            </div>
            <div *ngIf="element.two" class="action">
              <mat-icon
                aria-label="ลบ"
                color="warn"
                matTooltip="ลบ"
                (click)="onDeleteChicken(i + maxRow * 2)"
              >
                delete
              </mat-icon>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="4">
          <td
            mat-cell
            *matCellDef="let element; let i = index"
            (click)="onEditChickenClick(i + maxRow * 3)"
          >
            <div [ngClass]="element.three ? 'gt' : ''">
              {{ element.three | currency: 'THB':'':'1.0-2' }}
            </div>
            <div *ngIf="element.three" class="action">
              <mat-icon
                aria-label="ลบ"
                color="warn"
                matTooltip="ลบ"
                (click)="onDeleteChicken(i + maxRow * 3)"
              >
                delete
              </mat-icon>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="5">
          <td
            mat-cell
            *matCellDef="let element; let i = index"
            (click)="onEditChickenClick(i + maxRow * 4)"
          >
            <div [ngClass]="element.four ? 'gt' : ''">
              {{ element.four | currency: 'THB':'':'1.0-2' }}
            </div>
            <div *ngIf="element.four" class="action">
              <mat-icon
                aria-label="ลบ"
                color="warn"
                matTooltip="ลบ"
                (click)="onDeleteChicken(i + maxRow * 4)"
              >
                delete
              </mat-icon>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="6">
          <td
            mat-cell
            *matCellDef="let element; let i = index"
            (click)="onEditChickenClick(i + maxRow * 5)"
          >
            <div [ngClass]="element.five ? 'gt' : ''">
              {{ element.five | currency: 'THB':'':'1.0-2' }}
            </div>
            <div *ngIf="element.five" class="action">
              <mat-icon
                aria-label="ลบ"
                color="warn"
                matTooltip="ลบ"
                (click)="onDeleteChicken(i + maxRow * 5)"
              >
                delete
              </mat-icon>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="7">
          <td
            mat-cell
            *matCellDef="let element; let i = index"
            (click)="onEditChickenClick(i + maxRow * 6)"
          >
            <div [ngClass]="element.ten ? 'gt' : ''">
              {{ element.ten | currency: 'THB':'':'1.0-2' }}
            </div>
            <div *ngIf="element.ten" class="action">
              <mat-icon
                aria-label="ลบ"
                color="warn"
                matTooltip="ลบ"
                (click)="onDeleteChicken(i + maxRow * 6)"
              >
                delete
              </mat-icon>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="11">
          <td
            mat-cell
            *matCellDef="let element; let i = index"
            (click)="onEditBasketClick(i)"
          >
            <div [ngClass]="element.six ? 'gt' : ''">
              {{ element.six | currency: 'THB':'':'1.0-2' }}
            </div>
            <div *ngIf="element.six" class="action">
              <mat-icon
                aria-label="ลบ"
                color="warn"
                matTooltip="ลบ"
                (click)="onDeleteBasket(i)"
              >
                delete
              </mat-icon>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="10">
          <td
            mat-cell
            *matCellDef="let element; let i = index"
            (click)="onEditBasketClick(i + maxRow)"
          >
            <div [ngClass]="element.seven ? 'gt' : ''">
              {{ element.seven | currency: 'THB':'':'1.0-2' }}
            </div>
            <div *ngIf="element.seven" class="action">
              <mat-icon
                aria-label="ลบ"
                color="warn"
                matTooltip="ลบ"
                (click)="onDeleteBasket(i + maxRow)"
              >
                delete
              </mat-icon>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="9">
          <td
            mat-cell
            *matCellDef="let element; let i = index"
            (click)="onEditBasketClick(i + maxRow * 2)"
          >
            <div [ngClass]="element.eight ? 'gt' : ''">
              {{ element.eight | currency: 'THB':'':'1.0-2' }}
            </div>
            <div *ngIf="element.eight" class="action">
              <mat-icon
                aria-label="ลบ"
                color="warn"
                matTooltip="ลบ"
                (click)="onDeleteBasket(i + maxRow * 2)"
              >
                delete
              </mat-icon>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="8">
          <td
            mat-cell
            *matCellDef="let element; let i = index"
            (click)="onEditBasketClick(i + maxRow * 3)"
          >
            <div [ngClass]="element.nine ? 'gt' : ''">
              {{ element.nine | currency: 'THB':'':'1.0-2' }}
            </div>
            <div *ngIf="element.nine" class="action">
              <mat-icon
                aria-label="ลบ"
                color="warn"
                matTooltip="ลบ"
                (click)="onDeleteBasket(i)"
              >
                delete
              </mat-icon>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['item1', 'item2']"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </mat-card>
</div>
