table {
  width: 100%;
  box-shadow: none;
}

td.mat-cell:first-of-type {
  padding-left: 0px;
}

td.mat-cell:last-of-type {
  padding-right: 0px;
}

td.mat-cell {
  width: 9%;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.15);
}

td.mat-cell .gt {
  cursor: pointer;
  height: 100%;
  display: inline-flex;
  padding: 12px 0px 12px 12px;
  width: 67%;
}

.mat-header-cell {
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.15);
}

.select-option {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
}

.action {
  display: none;
}
.mat-cell:hover .action {
  display: inline-block;
  height: 100%;
  position: relative;
}

.action .mat-icon {
  cursor: pointer;
  position: inherit;
  top: 18%;
}

.prefix {
  font-weight: 600;
  color: red;
}