.spacer {
  flex: 1 1 auto;
}

.mat-toolbar-single-row {
  height: 86px;
}

.card-gen {
  background: white;
  border-radius: 3px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.card-gen .card-link {
  // padding: 16px;
  margin: -16px;
  width: 80%;
}

.card-link:hover {
  cursor: pointer;
}

div:focus, td:focus {
  outline: none;
}

.detail {
  font-size: 14px;
  font-weight: 400;
}