<h2 class="text-primary">
    รุ่นฟาร์ม
  <button mat-mini-fab color="primary" class="btn-header" matTooltip="เพิ่มรุ่นใหม่" (click)="openDialog()">
    <mat-icon aria-label="เพิ่ม">add_circle</mat-icon>
  </button>
</h2>
<mat-divider class="mb-3"></mat-divider>
<div class="row">
  <div class="col-xl-3 col-md-6 col-sm-6 mb-3" *ngFor="let generation of generations$ | async">
    <mat-toolbar class="card-gen">
      <div class="card-link" [routerLink]="['/generation', generation.id]">
        <div class="">
          <span class="col">{{generation.name}}</span>
          <span class="col detail"> อายุ {{generation.dateFeed}} วัน</span> 
        </div>  
        <div class="detail">
          <span class="col-md-6">วันที่เข้า {{generation.dateIn | thaiDate: 'short'}}</span> 
          <span class="col-md-6" *ngIf="generation.dateOut">วันที่ปิด {{generation.dateOut | thaiDate: 'short'}}</span> 
        </div>
      </div>
      <span class="spacer"></span>
      <button mat-icon-button color="primary" matTooltip="แก้ไข" (click)="openDialog(generation)">
        <mat-icon class="example-icon">edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" matTooltip="ลบ" (click)="onDeleteClick(generation)">
        <mat-icon class="example-icon">delete</mat-icon>
      </button>
    </mat-toolbar>
  </div>
</div>
