.card {
  width: 100%;
}

.save-action {
  display: inline-block;
}

button {
  margin-right: 5px;
}

.mat-elevation-z8, table {
  width: 100%;
}

/* Structure */
.af-container {
  position: relative;
  min-height: 160px;
  flex: 1;
}

.af-table-container {
  position: relative;
  max-height: 590px;
  overflow: auto;
}

.af-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.af-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

.mat-column-index {
  width: 100px;
}
.mat-header-cell.mat-column-price {
  text-align: center;
}

.mat-column-price {
  width: 110px;
  text-align: right;
  padding-right: 15px;
}

.mat-row:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.05);
}
.action {
  display: none;
}
.mat-row:hover .action{
  display: block;
}

.mat-column-action {
  width: 70px;
}

tr.mat-footer-row {
  font-weight: bold;
}