<mat-card class="card">
  <mat-card-content>
    <h4 class="text-primary">ต้นทุน</h4>
    <mat-divider></mat-divider>

    <div class="mt-3">
      <div [formGroup]="addItemForm">
        <mat-form-field class="col-md-5">
          <mat-select placeholder="ชื่อรายการ" formControlName="itemId" name="itemId">
            <mat-option *ngFor="let item of item$ | async" [value]="item.id">
              {{ item.name }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="addItemForm.get('itemId').invalid && addItemForm.get('itemId').touched"
          >
            กรุณาเลือกรายการ
          </mat-error>
        </mat-form-field>

        <mat-form-field class="col-md-4">
          <mat-label>จำนวน</mat-label>
          <input
            matInput
            placeholder="50"
            formControlName="amount"
            (keyup.enter)="onSave(addItemForm.value)"
          />
          <mat-error
            *ngIf="addItemForm.get('amount').invalid && addItemForm.get('amount').touched"
          >
            กรุณากรอก "จำนวน"
          </mat-error>
        </mat-form-field>

        <div class="save-action">
          <button
            mat-raised-button
            type="submit"
            (click)="onSave(addItemForm.value)"
            color="primary"
            [disabled]="addItemForm.invalid"
          >
            บันทึก
          </button>
          <button mat-raised-button type="reset" (click)="onCancle()">ยกเลิก</button>
        </div>
      </div>
      <div class="af-container mat-elevation-z8 mt-3">
        <div class="af-loading-shade" *ngIf="isLoadingResults || !resultsLength">
          <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
          <div class="af-rate-limit-reached" *ngIf="resultsLength === 0">
            ยังไม่มีรายการ
          </div>
        </div>

        <div class="af-table-container">
          <table
            mat-table
            [dataSource]="data"
            matSort
            matSortActive="created"
            matSortDisableClear
            matSortDirection="desc"
          >
            <ng-container matColumnDef="index">
              <th mat-header-cell *matHeaderCellDef>No.</th>
              <td
                mat-cell
                *matCellDef="let element; index as i"
                (click)="onSelected(element)"
              >
                {{ i + 1 }}
              </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>รายการ</th>
              <td mat-cell *matCellDef="let element" (click)="onSelected(element)">
                {{ element.item.name }}
              </td>
              <td mat-footer-cell *matFooterCellDef>รวม</td>
            </ng-container>

            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef>จำนวน</th>
              <td mat-cell *matCellDef="let element" (click)="onSelected(element)">
                {{ element.amount | currency: 'THB': '': '1.0-0' }}
              </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef>ราคา</th>
              <td mat-cell *matCellDef="let element" (click)="onSelected(element)">
                {{ element.price | currency:'THB':'':'1.2-2' }}
              </td>
              <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency:'THB':'':'1.2-2'}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <div class="action">
                  <button
                    mat-mini-fab
                    color="warn"
                    matTooltip="ลบ"
                    (click)="onDelete(element)"
                  >
                    <mat-icon aria-label="Example icon-button with a heart icon"
                      >delete</mat-icon
                    >
                  </button>
                </div>
              </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: displayedColumns; let i = index"
            ></tr>
            <tr mat-footer-row *matFooterRowDef="displayedFooterColumns"></tr>
          </table>
        </div>
        <div *ngIf="resultsLength === 0" style="min-height: 47px;"></div>

        <mat-paginator
          [length]="resultsLength"
          [pageSizeOptions]="[10, 20, 30]"
        ></mat-paginator>
      </div>
    </div>
  </mat-card-content>
</mat-card>
