<mat-sidenav-container class="sidenav-container">

  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="isHandset ? 'dialog' : 'navigation'"
    [mode]="(isHandset | async)?.matches ? 'over' : 'side'"
    [opened]="loggedIn() && !(isHandset | async)?.matches"
  >
    <mat-toolbar role="heading" color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <!-- <a mat-list-item [routerLink]="['/dashboard']" routerLinkActive="is-active">
        Dashboard
      </a> -->
      <a mat-list-item *ngIf="hasItem" [routerLink]="['/generation']" routerLinkActive="is-active">
        รุ่นฟาร์ม
      </a>
      <mat-expansion-panel class="nav-mat-expansion-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>
          ตั้งค่า
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list class="nav-list-expansion">
          <div>
            <a mat-list-item [routerLink]="['/setting/item']" routerLinkActive="is-active">
              รายการ
            </a>
            <a mat-list-item *ngIf="hasItem" [routerLink]="['/setting/catcher']" routerLinkActive="is-active">
              ผู้จับ
            </a>
          </div>
      </mat-nav-list>
      </mat-expansion-panel>
    </mat-nav-list>
  </mat-sidenav>
  
  <mat-sidenav-content class="page-wrap">

    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="loggedIn() && (isHandset | async)?.matches"
        matTooltip="เมนู"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Accounting Farm</span> <span class="toolbar-spacer"></span>
      <a mat-button *ngIf="loggedIn()" [matMenuTriggerFor]="menu">
        <img src="{{ photoUrl || '../../assets/user.png' }}" class="logo-user" alt="" />
        {{ userLogin.firstName | titlecase }} {{ userLogin.lastName | titlecase }}
      </a>
      <mat-menu #menu="matMenu">
        <a mat-menu-item [routerLink]="['/users']">Edit Profile</a> 
        <mat-divider></mat-divider>
        <a mat-menu-item (click)="logout()">Logout</a>
      </mat-menu>
      <a mat-button [routerLink]="['/login']" *ngIf="!loggedIn()"> Login </a>
    </mat-toolbar>

    <main class="content container-fluid mt-2">
      <router-outlet></router-outlet>
    </main>

    <af-footer class="mt-3"></af-footer>
  </mat-sidenav-content>
  
</mat-sidenav-container>
