.is-active {
  background: rgba(0, 0, 0, 0.04);
}

.sidenav-container {
  min-height: 100vh;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
}

img {
  border: 2px solid white;
  display: inline;
}

.logo-user {
  border-radius: 17px;
  height: 34px;
  margin: 0 5px;
}

.mat-button {
  min-height: 64px;
}

mat-toolbar a {
  line-height: 64px;
}

mat-toolbar a:hover{
  color: white;
  text-decoration: none;
}

a.mat-menu-item:hover {
  text-decoration: none;
}

.nav-mat-expansion-panel {
  box-shadow: 0px 0px 0px;
  border-radius: 0;
}

.mat-expansion-panel-header {
  padding: 16px;
}

.mat-expansion-panel-header a {
  padding-left: 16px;
}

.nav-list-expansion {
  margin: -25px;
  padding-bottom: 8px;
}

.mat-list-item-content a {
  padding-left: 16px;
}


/*
 * Actual Sticky Footer Styles
 */
  
 .page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}


/*
 * Make the Component injected by Router Outlet full height:
 */
main {
  display: flex;
  flex-direction: column;
  > *:not(router-outlet) {
    // flex: 1;
    display: block;
  }
}