.mat-container {
  min-height: 100%;
}

.mat-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  background: rgba(255, 0, 0, 0.5);
}

.sidenav-toggle.mat-button {
    padding: 0 4px;
}

// .sidenav-toggle {
//     padding: 0;
//     min-width: 64px;
//     display: none;
// }

.mat-icon {
  font-size: 30px;
  height: 64px;
  width: 64px;
  line-height: 64px;
  color: #fff;
}

// .mat-button-wrapper {
//   vertical-align: middle;
// }