<h2 class="text-primary">รายการพื้นฐาน</h2>
<mat-divider></mat-divider>
<div class="row justify-content-center">
  <div class="col-lg-5 col-md-8" [formGroup]="itemForm">
    <table class="full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field>
              <mat-select placeholder="ประเภท" formControlName="type" name="type" required>
                  <mat-option >กรุณาเลือก</mat-option>
                  <mat-option [value]="1">ราคาประกันไก่</mat-option>
                  <mat-option [value]="2">ลูกไก่</mat-option>
                  <mat-option [value]="3">อาหาร</mat-option>
                  <mat-option [value]="4">ยา</mat-option>
                  <mat-option [value]="5">อื่นๆ</mat-option>
                </mat-select>
                <mat-error *ngIf="itemForm.get('type').invalid">กรุณาเลือกประเภท</mat-error>
          </mat-form-field>
        </td>
        <td style="padding-right: 15px;">
          <mat-form-field class="full-width">
            <input matInput placeholder="ชื่อรายการ" formControlName="name" required/>
            <mat-error *ngIf="itemForm.get('name').validator && itemForm.get('name').touched">กรุณากรอกชื่อรายการ</mat-error>
          </mat-form-field>
        </td>
        <td style="width: 100px;">
          <mat-form-field class="full-width">
            <input matInput placeholder="ราคา" formControlName="rates" 
            (keyup.enter)="onSave(itemForm.value)" required/>
            <mat-error *ngIf="itemForm.get('rates').validator && itemForm.get('rates').touched">กรุณากรอกราคา</mat-error>
          </mat-form-field>
        </td>
        <td style="text-align: center;min-width: 160px;">
          <button
            mat-raised-button
            color="primary"
            (click)="onSave(itemForm.value)"
            [disabled]="itemForm.invalid"
          >
            Save
          </button>
          <button mat-raised-button (click)="onCancle()">Cancle</button>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="row justify-content-center mt-3">
  <div class="col-lg-5 col-md-8">
    <div class="af-container mat-elevation-z8">
      <div class="af-loading-shade" *ngIf="!resultsLength">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        <div class="af-rate-limit-reached" *ngIf="resultsLength === 0">
          ยังไม่มีรายการ
        </div>
      </div>
      
      <div class="af-table-container">
        <table
        mat-table
        [dataSource]="data"
        matSort
        matSortActive="created"
        matSortDisableClear
        matSortDirection="desc"
        >
        <ng-container matColumnDef="index">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element; index as i" (click)="onSelected(element)">{{ i + 1 }}</td>
        </ng-container>
        
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>ชื่อรายการ</th>
          <td mat-cell *matCellDef="let element" (click)="onSelected(element)">{{ element.name }}</td>
        </ng-container>
        
        <ng-container matColumnDef="rates">
          <th mat-header-cell *matHeaderCellDef>ราคา</th>
          <td mat-cell *matCellDef="let element" (click)="onSelected(element)">
            {{ element.rates }}
          </td>
        </ng-container>
        
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <div class="action">
              <button mat-mini-fab color="warn" matTooltip="ลบ" (click)="onDelete(element)">
                <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index"></tr>
      </table>
    </div>
        <div *ngIf="resultsLength === 0" style="min-height: 47px;">
        </div>
    
    <mat-paginator
    [length]="resultsLength"
    [pageSizeOptions]="[10, 20, 30]"
    ></mat-paginator>
  </div>
</div>
</div>
