<mat-toolbar>
  <div class="d-flex justify-content-between" style="width: 100%">
      <div>
          <span>&#169; 2019 SecretCode All Rights Reserved</span>
      </div>
      <div>
          version : {{ version }}
      </div>
  </div>
</mat-toolbar>
