<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <mat-tab-group mat-stretch-tabs (selectedTabChange)=onTabClick($event)>
        <mat-tab label="Login">
          <ng-template mat-tab-label>
            <h2 class="text-center text-primary">Sign In</h2>
          </ng-template>
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-10">
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                  <div class="form-group mt-5">
                    <mat-form-field class="full-width">
                      <input matInput placeholder="Username" formControlName="username" />
                      <mat-error>Username is <strong>required</strong> </mat-error>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                      <input matInput type="password" placeholder="Password" formControlName="password" />
                      <mat-error>Password is <strong>required</strong> </mat-error>
                    </mat-form-field>
                    <div class="text-center">
                      <button mat-raised-button color="primary" class="mr-3" type="submit" [disabled]="loginForm.invalid">Login</button>
                      <button mat-raised-button (click)="cancelLogin()">Cancel</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Register" id="register">
          <ng-template mat-tab-label>
            <h2 class="text-center text-primary">Sign Up</h2>
          </ng-template>
          <af-register></af-register>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
